@(param: Any)

@main("Heroes of the Code Block"){

	<div id = "game-container">
	  <div id = "game-headers-wrapper">
		<h2 id="game-header">Heroes of the Code Block</h2>
		<h3 id="game-sub-header">How Long Can You Last in Scalandia?</h3>
	  </div>

<canvas id="gameCanvas" width="800" height="500" style="border:1px solid #000000;"></canvas>
    @scalajs.html.scripts("csci3345-s19-client-rpg", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
	</div>
	
	<div id="shop-wrapper">
    <div id="shop">
    
    <h2> <u> _____________SHOP______________ </u> </h2>
    
    <div id ="col">
    <button class ="shopButtons">Weapons</button>
    <button class ="shopButtons" >Items</button>
    <button class ="shopButtons">Sell</button>
	</div>
    </div>
	</div>
	</br>
	</br>
	
	@* this is how you import a image *@
	@*<img id= "slice" style = "display: none" src ="@routes.Assets.at("images/slice.gif")"/> *@
	<img id= "slice1" style = "display: none" src ="@routes.Assets.at("images/slice1.png")"/>
	<img id= "slice2" style = "display: none" src ="@routes.Assets.at("images/slice2.png")"/>
	<img id= "slice3" style = "display: none" src ="@routes.Assets.at("images/slice3.png")"/>
	<img id= "slice4" style = "display: none" src ="@routes.Assets.at("images/slice4.png")"/>
	<img id= "slice5" style = "display: none" src ="@routes.Assets.at("images/slice5.png")"/>
	<img id= "slice6" style = "display: none" src ="@routes.Assets.at("images/slice6.png")"/>
	<img id= "glitch" style = "display: none" src ="@routes.Assets.at("images/glitch_gremlin.png")"/>
	<img id= "mapBackground" style = "display: none" src ="@routes.Assets.at("images/darkforkintheroad.jpg")"/>
	<img id= "eventBackground" style = "display: none" src ="@routes.Assets.at("images/scala-spiral.png")"/>
}