@* glossary Template File *@
@(param: Any)

@main("Glossary"){
	<div id = "glossary-container">
		
		<div id ="gloss-flex-head">
		
			<h2 id = "gloss-header">Web Apps RPG</h2>
		
			<div id = "search">
				<input type = "text" placeholder = "Search...">
				<button type = "submit">Search</button>
			</div>
		
		</div>
		
		<div id = "gloss-body">
		
			<div id = "categories">
			
				<ul>
				
					<li>Enemies</li>
					<li>Items</li>
					<li>Stats</li>
				
				</ul>
			
			</div>
			
			<div id = "profile">
			
				<!-- insert image here -->
			
				<h3>Character Name</h3>
				
				<p>Attack: -- </p>
				<p>Defense: -- </p>
				<p>Special Attack: -- </p>
				<p>Special Defense: -- </p>
				<br>
				<ul>Attacks</ul>
					<li>Blunt: -- </li>
					<li>Fire Spell: -- </li>
					
			</div>
		
		</div>	
		
	</div>
}
