@* glossary Template File *@


@()

@main("Glossary"){
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/glossary.css")">
</head>

	<div id = "glossary-container">
	
		<div id="nav">
			<ul>
				<li><a href = "/">Main Menu</a></li>
				<li><a href = "game">Play Game</a></li>
				<li><a href = "leaderboard">Leaderboards</a></li>
			</ul>
		</div>
		
		<div id ="gloss-flex-head">
		
			<h2 id = "gloss-header">Web Apps RPG</h2>
		
		</div>

		
		<div id = "gloss-body">
		
		
	<div id = "categories">
			
		<div id ="tab">

		<button class = "tablinks" onclick = "switchTabs(event, 'items')" id = "defaultOpen">Items</button>
			<br>
		<button class = "tablinks" onclick = "switchTabs(event, 'weapons')">Weapons</button>
			<br>
		<button class = "tablinks" onclick = "switchTabs(event, 'characters')">Characters</button>
			<br>
		<button class = "tablinks" onclick = "switchTabs(event, 'enemies')">Enemies</button>
			<br>
		<button class = "tablinks" onclick = "switchTabs(event, 'bosses')">Bosses</button>
	
		
		</div>
	</div>
			
				
				<div id = "characters" class = "tabcontent">
					<button id = "tank" class ="itemButtons" >Tank </button>
						<br>
					<button id = "warrior" class ="itemButtons">Warrior</button>
						<br>
					<button id = "rouge" class ="itemButtons">Rouge</button>
				
				</div>
				
				<div id = "enemies" class = "tabcontent">
					<button id = "glitchGremlin" class ="itemButtons" >Glitch Gremlin</button>
						<br>
					<button id = "smellyClass" class ="itemButtons">Smelly Class</button>
						<br>
					<button id = "codeTangler" class ="itemButtons">Code Tangler</button>
				
				</div>
				
				<div id = "bosses" class = "tabcontent">
					<button id = "theGreatSegfault" class ="itemButtons" >The Great Segfault</button>
				</div>
				
				<div id = "weapons" class = "tabcontent">
					<button id = "wandOfCopyPaste" class ="itemButtons" >Wand Of Copy-Paste</button>
						<br>
					<button id = "ringOfConcurrency" class ="itemButtons">Ring Of Concurrency</button>
						<br>
					<button id = "multithreadedBoots" class ="itemButtons">Multithreaded Boots</button>
						<br>
					<button id = "embeddingCrossbow" class ="itemButtons">Embedding Crossbow</button>
				
				</div>
				
				<div id = "items" class = "tabcontent">
					<button id = "debuggingSpray" class ="itemButtons" >Debugging Spray </button>
						<br>
					<button id = "overclocker" class ="itemButtons">Overclocker</button>
						<br>
					<button id = "stickOfRam" class ="itemButtons">Stick Of Ram</button>
				</div>


				
							
			
			<div id = "profile">
			
				<!-- insert image here -->
			
				<h3 id = "characterName"></h3>
				
				<p id = "attack"></p>
				<p id= "hp"> </p>
				<p id = "speed"> </p>
				<p id = "uses type="hidden""> </p>
				<br>

					
			</div>
		
		</div>	
		
	</div>
	
		<script src="@routes.Assets.versioned("javascript/GloassaryPagefunctions.js")"></script>
	
}
