@* leaderboards Template File *@
@()

@main("Leaderboard"){
	<div id = "lead-container">
	
		<h2>Web Apps RPG</h2>
		
		<h3>Player Leaderboards</h3>

		<button type="submit" value="Submit">Enter the depths of the Coding Block</button>
		
		<div id ="lead-table">
		
			<table>
		
				<tr>
					
					<th>Player</th>
					<th>Distance Traveled </th>
		
				</tr>
		
		
				<tr>
						
					<td>Ty Kirby</td>
					<td>3 Nodes</td>
				
				</tr>
				
				<tr>
						
					<td>Austin Gieselman</td>
					<td>1 Nodes</td>
				
				</tr>
				
				<tr>
						
					<td>Jorgen Viltoft</td>
					<td>7 Nodes</td>
				
				</tr>
		
			</table>
		
		</div>
		

	
	</div>	
}