@* login Template File *@
@()


<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">

  </head>
  <body>
  <div class="wrapper">
  		<div id="nav">
			<ul>
				<li><a href = "/">Main Menu</a></li>
				<li><a href = "game">Play Game</a></li>
				<li><a href = "leaderboard">Leaderboards</a></li>
			</ul>
		</div>

    <div id="formContent">

        <h2> Login </h2>



	<form action="login" id = "loginForm" method = "post">
	  <input type ="text" name = "username" placeholder = "username" id = "loginUser">
	  <input type= "password" name = "password" placeholder = "password" id = "loginPass">

    <br>

	  <input type = "submit">
    <br>
    
    <a href="@routes.LoginController.logout" id = "LogOut"> logout </a>
    <br>
    
    <a id = "noAccount" href = "#"> don't have an account? </a>

	</form>

  </div>
  
  <div class="wrapper">
  <div id="formContent">

        <h2> Create </h2>

	<form action="create" id = "createForm" method = "post">
	  <input type ="text" name = "usernameC" placeholder = "username" id = "createUser">
	  <input type= "password" name = "passwordC" placeholder = "password" id = "createPass">

    <br>

	  <input type = "submit">
    <br>

	</form>

  </div>
  </div>


  </body>
</html>


