@* login Template File *@
@(param: Any)


<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">

  </head>
  <body>
  <div class="wrapper">

    <div id="formContent">

        <h2> Login </h2>



	<form action="" id = "loginForm" method = "">
	  <input type ="text" placeholder ="username" >
	  <input type= "password" placeholder ="password">
	  <input type = "submit">
	</form>

  </div>
  </div>


  </body>
</html>


