@()

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Main Menu</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
    <section class="intro">
        <div class="content">
          <h1 id="mainTitle">{ Heroes of the Code Block }</h1>
          </br>
          </br>
          <table class="menuTable">
            <tr>
                <td>
                  <img src="@routes.Assets.at("images/arrowPointingRight.png")" />
                  <a id="play-game" href="game">Play Game</a>
                  <img src="@routes.Assets.at("images/arrowPointingLeft.png")" />
                </td>
                <td>
                  <img src="@routes.Assets.at("images/arrowPointingRight.png")" />
                  <a href="glossary">Glossary</a>
                  <img src="@routes.Assets.at("images/arrowPointingLeft.png")" />
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                  <img src="@routes.Assets.at("images/arrowPointingRight.png")" />
				  <a href="login">Login</a>
                  <img src="@routes.Assets.at("images/arrowPointingLeft.png")" />
                </td>
                <td>
                  <img src="@routes.Assets.at("images/arrowPointingRight.png")" />
				  <a href="leaderboard">Leaderboard</a>
                  <img src="@routes.Assets.at("images/arrowPointingLeft.png")" />
                </td>
            </tr>
            <tr>
            </tr>
          </table>
      </div>
    </section>
  </body>
</html>
