
#game-container table{
	width: 50%;
	border: 2px solid black;
}

#gameCanvas{
	margin-left: auto;
	margin-right: auto;
	display: block;
}	

#shop {
  border-radius: 10px 10px 10px 10px;
  background: rgb(160,82,45);
  padding: 0px;
  width: 90%;
  max-width: 500px;
  /* box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3); */
  text-align: center;
  margin: auto;
  display: block;
}

#col {
  column-count:1;
  	
}

.shopButtons {
  background-color: rgb(169,169,169);
  border: none;
  color: white;
  padding: 15px 40px;
  width:220px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 20px 12px;
  white-space:nowrap;
}
#shop h2{
	text-align: center;
}

.tablinks {
  background-color: rgb(169,169,169);
  border: none;
  color: white;
  padding: 5px 40px;
  width:220px;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/* .active {
  background-color: #4CAF50;

  margin: 5px 10px 7px 12px;
  white-space:nowrap;
  
} */
.itemButtons{
  background-color: rgb(169,169,169);
  border: none;
  color: white;
  padding: 5px 40px;
  width:220px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 10px 7px 12px;
  white-space:nowrap;
}

.tablinks:hover  {
  background-color: rgb(128,128,128);
}



#gameCanvas{
	background-color: white;
}

#gamePageContainer{
	overflow-x: hidden;
	background-color: #FB9F89;
	width:100%;
	height:auto;
  	bottom:0px;
  	top:0px;
  	left:0px;
  	right:0px;
  	position:absolute;
}

#shop{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	background-color: #1E1E24;
	
	font-family: Helvetica, Sans-Serif;
	color: white;
}

#inventory{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	background-color: #1E1E24;
	
	font-family: Helvetica, Sans-Serif;
	color: white;

	width: 45%;
}

#shop h2{
	padding-top: 1em;
}

#inventory h2{
	padding-top: 1em;
	text-align:center;
}

.shopHeader{
	background-color: #C4AF9A;
}

#shop h3{
	text-align: center;
}

#inventory h3{
	text-align: center;
}


#shop-inner{
	margin-left:auto;
	margin-right: auto;
	
	
	background-color: #81AE9D;
}

#inv-inner{
	margin-left:auto;
	margin-right: auto;
	
	background-color: #81AE9D;
}

#consumables{
	margin-left:auto;
	margin-right:auto;
}

#equipment{
	margin-left:auto;
	margin-right:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#gameCanvas {
    padding: 0;
    margin: auto;
    display: block;
}

#game-headers-wrapper {
	text-align: center
}

#game-header {
	font-family: "MedievalSharp", sans-serif;
    font-size: 50px;
}

#game-sub-header {
	font-family: "MedievalSharp", sans-serif;
    font-size: 36px;
}

