

#glossary-container{
  width:100%;
  height:auto;
  bottom:0px;
  top:0px;
  left:0px;
  right:0px;
  position:absolute;
}

#gloss-header{	
	margin-left: 0em;
}

#search{
	margin-top:1em;
	margin-left: 75em;
}

#gloss-flex-head{
	background-color:rgba(0,225,0,.2);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 100px
}

#gloss-body{
	
	background-color:rgba(0,0,255,.2);
	
	margin-top: 6em;
	
	display: flex;
}

#profile{
	width: 50%;
	border: 2px black solid;
	
	padding: 3em;
	
	margin-left: auto;
	margin-right: auto;
}

#profile ul{
	text-align: center;
}

#profile li{
	text-align: center;
}

#test{
	
}

.tabcontent{
	margin: 3em;
	border: 2px black solid;
		
	padding: 0em;
	
	background-color:rgba(0,255,255,0.2);
	overflow:auto;

	
	
}



#categories{
	margin: 3em;
	border: 2px black solid;
		
	padding: 0em;
	
	background-color:rgba(0,255,255,0.2);
	
}


#lead-container button{
	margin-left:55em;
	margin-bottom: 2em;
}

#lead-table{
	width: 50%;
	border: 2px black solid;
	
	padding: 3em;
	
	margin-left: auto;
	margin-right: auto;
}

#lead-table th{
	border: 1px solid black;
}

#lead-table td{
	border: 1px solid black;
}

#lead-table table{
	width: 50%;
	border: 2px black solid;
	
	padding: 3em;
	
	margin-left: auto;
	margin-right: auto;
}

#lead-container h2{
	text-align: center;
}

#lead-container h3{
	text-align: center;
}

#game-container table{
	width: 50%;
	border: 2px solid black;
}

#game h3{

}

#gameCanvas{
	margin-left: auto;
	margin-right: auto;
	display: block;
}	

#game-container{
}
	
}
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url(http://d289qh4hsbjjw7.cloudfront.net/rpgmaker-20130522223546811/files/left-tokiwa-graphics-battle-bg1.jpg);
  display: flex;
  top: 0;
  background-size: cover;
}

.content {
  width: 600px;
  height: 480px;
  margin: auto;
  border-style: double;
  border-color: white;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(128, 128, 128, 0.6);
}

h1 {
  color: black;
  text-align: center;
}

#mainTitle {
  font-family: "MedievalSharp", sans-serif;
  font-size: 80px;
  color: white;
  margin-bottom: -10px;
}

#secondTitle {
  font-family: "MedievalSharp", sans-serif;
  font-size: 46px;
  color: white;
}

.menuTable {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.menuTable td {
  padding: 8px;
}

.menuTable a {
  text-decoration: none;
  color: white;
}

.menuTable a:hover {
  font-size: 26px;
}

.menuTable img {
  height: 32px;
  width: 26px;
  vertical-align: middle;
}

#shop{
	width: 45%;
	background-color: rgba(255,0,0,.3);
}

#shop h2{
	text-align: center;
}

.tablinks {
  background-color: rgb(169,169,169);
  border: none;
  color: white;
  padding: 5px 40px;
  width:220px;
  border-radius: 5pul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}x 5px 5px 5px;ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
  margin: 5px 10px 7px 12px;
  white-space:nowrap;
  
}
.itemButtons{
  background-color: rgb(169,169,169);
  border: none;
  color: white;
  padding: 5px 40px;
  width:220px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 10px 7px 12px;
  white-space:nowrap;
}

.tablinks:hover  {
  background-color: rgb(128,128,128);
}



#gameCanvas{
	background-color: white;
}

#gamePageContainer{
	overflow-x: hidden;
	background-color: #FB9F89;
	width:100%;
	height:auto;
  	bottom:0px;
  	top:0px;
  	left:0px;
  	right:0px;
  	position:absolute;
}

#shop{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	background-color: #1E1E24;
	
	font-family: Helvetica, Sans-Serif;
	color: white;
}

#shop h2{
	padding-top: 1em;
}

.shopHeader{
	background-color: #C4AF9A;
}

#shop h3{
	text-align: center;
}

#shop-inner{
	margin-left:auto;
	margin-right: auto;
	
	background-color: #81AE9D;
}

#consumables{
	margin-left:auto;
	margin-right:auto;
}

#equipment{
	margin-left:auto;
	margin-right:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#gameCanvas {
    padding: 0;
    margin: auto;
    display: block;
}

#game-header #game-sub-header {
	text-align: center
}



